@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Roboto", sans-serif;
    background: linear-gradient(to left,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: #333;
    line-height: 1.6;
}