.weather-container{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;


    h3{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}

.weather-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.weather-item{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.103);
}

.forecast-day, .forecast-description{
    text-transform: capitalize;
    font-size: 1.0rem;
    
}
.forecast-day{
    font-weight: bold;
}


